
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for your purchase!</h2>
<br />
<h4>We hope to see you back soon! @Html.ActionLink("Continue Shopping", "Index", "Home") </h4>
